<div class="owner-certs-info">
  <div class="owner-certs-info-slider">
    <div class="slide-group">
      <div class="col-xs-4 owner-certs-info-slider-slide active">
        <img class="owner-certs-info-slider-slide__image" src="https://s3-us-west-2.amazonaws.com/hm-com/static/9FtDes80yvwIYj6tXsR0VQ/ASHI.png">
      </div>
      <div class="col-xs-4 owner-certs-info-slider-slide active">
        <img class="owner-certs-info-slider-slide__image" src="https://s3-us-west-2.amazonaws.com/hm-com/static/9FtDes80yvwIYj6tXsR0VQ/ICC.png">
      </div>
      <div class="col-xs-4 owner-certs-info-slider-slide active">
        <img class="owner-certs-info-slider-slide__image" src="https://s3-us-west-2.amazonaws.com/hm-com/static/9FtDes80yvwIYj6tXsR0VQ/NAHI_CRI.png">
      </div>
      <div class="col-xs-4 owner-certs-info-slider-slide">
        <img class="owner-certs-info-slider-slide__image" src="https://s3-us-west-2.amazonaws.com/hm-com/static/9FtDes80yvwIYj6tXsR0VQ/nibi.png">
      </div>
    </div>
    <div class="owner-certs-info-nav im-a-slider-nav" data-target="owner-certs-info-slider">
      <div class="arrows next owner-certs-info-nav__arrow--next" data-direction="next" data-hide-when="true">&gt;</div>
      <div class="arrows prev owner-certs-info-nav__arrow--prev hidden" data-direction="prev" data-hide-when="true">&lt;</div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
