<div class="col-xs-12">
  <div class="owner-contact__header">SEARCH FOR A HOUSEMASTER INSPECTOR</div>
  <div class="col-xs-12 owner-contact__indent">
    <!-- <div class="owner&#45;contact__location"><%= "#{@geo_zees['location']['city']}, #{@geo_zees['location']['state']}" %></div> -->
    <hr class="owner-contact__breaker">
    <div class="owner-contact__change-location">
      <a class="btn owner-contact__change-location--btn" href="#" role="button" data-toggle="modal" data-target="#local-office-modal">find an inspector</a>
    </div>
    <div class="owner-contact__franchise">
      <a class="btn owner-contact__franchise--btn" href="#" role="button">FRANCHISING OPPORTUNITY AVAILABLE</a>
    </div>
    <hr class="owner-contact__breaker--last">
  </div>
</div>
