<div class="col-xs-12 col-sm-6 col-md-12 owner-contact">
  <%= render :partial => '_shared/widget/contact_info_blank' %>
</div>


<!-- <div class="col&#45;xs&#45;12 col&#45;sm&#45;6 col&#45;md&#45;12 owner&#45;local&#45;interest"> -->
<!--   <div class="col&#45;xs&#45;12"> -->
<!--     <div class="owner&#45;local&#45;interest__header">local interest <a class="owner&#45;local&#45;interest__show&#45;all" href="#">show all</a></div> -->
<!--     <%= render :partial => '_shared/widget/article_slider' %> -->
<!--   </div> -->
<!-- </div> -->
