<section class="franchise-header">
  <div class="franchise-header__image" style="background-image: url(https://s3-us-west-2.amazonaws.com/hm-com/static/EbWbBxpuc30KuCRgGVlLCg/ken-cardgame.jpg);">
    <h1 class="franchise-header__title">SUCCESS STARTS WITH A VISION</h1>
  </div>
</section>
