<section class="franchise-testimonials">
  <div style="background-image: url(https://s3-us-west-2.amazonaws.com/hm-com/static/EbWbBxpuc30KuCRgGVlLCg/testimonials-green.jpg);" class="franchise-testimonials__image">
    <div class="franchise-testimonials-slider">
      <div class="slide-group">

        <div class="franchise-testimonials-slider-slide active">
          <h3 class="franchise-testimonials-slider-slide__quote">
            "The HouseMaster system stands head and shoulders above the others making me look good and making me money!"<br><strong>- Richard Grunder, HouseMaster Owner</strong>
          </h3>
        </div>
        <!-- <div class="franchise&#45;testimonials&#45;slider&#45;slide"> -->
        <!--   <h3 class="franchise&#45;testimonials&#45;slider&#45;slide__quote"> -->
        <!--     "The HouseMaster system stands head and shoulders above the others making me look good and making me money!"<br><strong>&#45; Richard Grunder, HouseMaster Owner</strong> -->
        <!--   </h3> -->
        <!-- </div> -->
        <!-- <div class="franchise&#45;testimonials&#45;slider&#45;slide"> -->
        <!--   <h3 class="franchise&#45;testimonials&#45;slider&#45;slide__quote"> -->
        <!--     "The HouseMaster system stands head and shoulders above the others making me look good and making me money!"<br><strong>&#45; Richard Grunder, HouseMaster Owner</strong> -->
        <!--   </h3> -->
        <!-- </div> -->

      </div>
      <div class="franchise-testimonials-slider-nav im-a-slider-nav" data-target="franchise-testimonials-slider">
        <ul class="bullets franchise-testimonials-slider-nav-bullets">
          <li class="bullet active">1</li>
          <!-- <li class="bullet">2</li> -->
          <!-- <li class="bullet">3</li> -->
        </ul>
      </div>
    </div>
  </div>
</section>
