<section class="franchise-we-do">
  <h2 class="text-center franchise-we-do__title">What We Do</h2>
  <hr class="franchise-we-do__breaker">
  <div class="col-xs-12 col-sm-8 center-block">
    <p class="col-xs-12 franchise-we-do__text">
      For the past 35 years, HouseMaster has been helping people from all educational and business backgrounds realize their dreams of business ownership, while helping buyers make educated, informed decisions about their home purchases. Our goal is to help you, the business owner, as well as your customers feel the trust, condence and, ultimately, the success that can come with the HouseMaster experience.
    </p>
    <div class="col-xs-12 franchise-we-do__tags">
      <button class="franchise-we-do__tag">TAG CATEGORY</button>
      <button class="franchise-we-do__tag active">TAG CATEGORY</button>
    </div>
    <div class="col-xs-12 no-gutters">
      <div class="col-xs-12 col-sm-6 col-md-4 franchise-we-do-media">
        <div class="franchise-we-do-media__image"></div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 franchise-we-do-media">
        <div class="franchise-we-do-media__video" data-toggle="modal" data-target="#video1-modal">
          <div class="franchise-we-do-media__play">
            <i class="glyphicon glyphicon-play"></i>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 franchise-we-do-media">
        <div class="franchise-we-do-media__video" data-toggle="modal" data-target="#video2-modal">
          <div class="franchise-we-do-media__play">
            <i class="glyphicon glyphicon-play"></i>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 franchise-we-do-media">
        <div class="franchise-we-do-media__image"></div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 franchise-we-do-media">
        <div class="franchise-we-do-media__image"></div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</section>
<!-- video modals -->
<div id="video1" class="modal-override">
  <div class="modal fade" id="video1-modal" tabindex="-1" role="dialog" aria-labelledby="video1-modal-label">
    <div class="modal-dialog modal-lg modal-override__document" role="document">
      <button type="button" class="close modal-override__close close modal-override__close--light" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="modal-override__content">
        <video id="video1Video" controls="" style="width: 100%; height: 100%;">
          <source src="https://s3.amazonaws.com/hm_conference/2014/video/video1.mp4" type="video/mp4">
          <source src="https://s3.amazonaws.com/hm_conference/2014/video/video1.webm" type="video/webm">
          <source src="https://s3.amazonaws.com/hm_conference/2014/video/video1.ogv" type="video/ogg">
          fallback
          <p>Your browser does not support video, please update your browser.</p>
        </video>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<div id="video2" class="modal-override">
  <div class="modal fade" id="video2-modal" tabindex="-1" role="dialog" aria-labelledby="video2-modal-label">
    <div class="modal-dialog modal-lg modal-override__document" role="document">
      <button type="button" class="close modal-override__close close modal-override__close--light" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="modal-override__content">
        <video id="video2Video" controls="" style="width: 100%; height: 100%;">
          <source src="https://s3.amazonaws.com/hm_conference/2014/video/video2.mp4" type="video/mp4">
          <source src="https://s3.amazonaws.com/hm_conference/2014/video/video2.webm" type="video/webm">
          <source src="https://s3.amazonaws.com/hm_conference/2014/video/video2.ogv" type="video/ogg">
          fallback
          <p>Your browser does not support video, please update your browser.</p>
        </video>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- /video modals -->
