<section class="franchise-we-are">
  <h2 class="text-center franchise-we-are__title">We Are HouseMaster</h2>
  <hr class="franchise-we-are__breaker">
  <div class="col-xs-12 col-sm-8 center-block">
    <div class="col-sm-12 col-md-4 franchise-we-are-description">
      <h3 class="franchise-we-are-description__title">Be Supported</h3>
      <p class="franchise-we-are-description__text">
        HouseMaster offers a trusted name in the community. The HouseMaster name offers you the support of the brand and the entire HouseMaster team. We will work hard to provide you with the tools you need; and you'll work hard to provide your customers with the knowledge they want.
      </p>
    </div>
    <div class="col-sm-12 col-md-4 franchise-we-are-description">
      <h3 class="franchise-we-are-description__title">Be Confident</h3>
      <p class="franchise-we-are-description__text">
        With HouseMaster on your side you'll find the confidence you need to succeed as an entrepreneur. We get it - owning a business can be stressful. But we're here to help. With our team behind you, you'll find the confidence to build your business.
      </p>
    </div>
    <div class="col-sm-12 col-md-4 franchise-we-are-description">
      <h3 class="franchise-we-are-description__title">Be Successful</h3>
      <p class="franchise-we-are-description__text">
        Your success is our success, and when you join the HouseMaster family, your achievement becomes our priority. We're here to help you attain the income you want, the independence you've been searching for, and a legacy to be proud of.
      </p>
    </div>
  </div>
  <div class="clearfix"></div>
</section>
