<div class="row no-gutters">
  <div class="col-xs-12 no-gutters">
    <%= render :partial => 'we_are' %>
  </div>
</div>

<div class="row no-gutters">
  <div class="col-xs-12 no-gutters">
    <%= render :partial => 'we_do' %>
  </div>
</div>

<div class="row no-gutters">
  <div class="col-xs-12 no-gutters">
    <%= render :partial => 'testimonials' %>
  </div>
</div>

<div class="row no-gutters">
  <div class="col-xs-12 no-gutters">
    <%= render :partial => 'contact' %>
  </div>
</div>
