<section class="col-md-12 find-local-office">
  <div class="col-sm-11 center-block">
    <h2 class="text-center find-local-office__title">FIND YOUR LOCAL HOUSEMASTER OFFICE</h2>
    <form id="ajax-find-hm-office" action="/geo_owners_switch" data-modal="local-office-modal" class="text-center form-inline find-local-office-form">
      <div class="col-xs-9 col-sm-10 no-gutters">
        <input type="text" name="location" class="find-local-office-form__input" placeholder="CITY, STATE/PROVINCE OR ZIP/POSTAL" />
      </div>
      <div class="col-xs-3 col-sm-2 no-gutters">
        <button type="submit" class="find-local-office-form__submit">FIND</button>
      </div>
      <span class="find-local-office-form__error error-message">&nbsp;</span>
    </form>
  </div>
</section>
