<section class="col-md-12 report-login">
  <div class="col-sm-11 center-block">
    <h2 class="text-center report-login__title">VIEW YOUR INSPECTION DOCUMENTS/REPORT ONLINE</h2>

    <form class="report-login-form">
      <div class="col-xs-12 col-sm-7 center-block no-gutters">
        <div class="text-right col-xs-12 col-sm-3">
          <label for="username" class="report-login-form__label">Username</label>
        </div>
        <div class="col-xs-12 col-sm-9">
          <input id="username" type="text" class="report-login-form__input" placeholder="email address" />
        </div>

        <div class="text-right col-xs-12 col-sm-3">
          <label for="password" class="report-login-form__label">Password</label>
        </div>
        <div class="col-xs-12 col-sm-9">
          <input id="password" type="password" class="report-login-form__input" placeholder="password" />
        </div>

        <div class="col-xs-12 col-sm-offset-3 col-sm-4">
          <button type="submit" class="report-login-form__submit">Login</button>
        </div>

        <div class="col-xs-12 col-sm-offset-3 col-sm-6">
          <a class="report-login-form__help"><strong><u>Need Help</u></strong> with your Username/Password?</a>
        </div>
      </div>
    </form>
  </div>
  <div class="clearfix"></div>

</section>
