.owner {
  &-license {
    &-info {
      min-height: 70px;
      padding: 15px 25px;
      background-color: #F4F5F6;
      position: relative;
      &__name {
        font-size: 11pt;
        color: #009578;
      }
    }
  }
}
