<section class="lego-blocks">
  <div class="col-xs-12 col-sm-4 lego-block">
    <div class="lego-block__circle"></div>
    <h3 class="lego-block__title"><%= link_to 'BUYERS', buyers_path  %></h3>
    <p class="lego-block__text">Purchasing a home? We can help.</p>
  </div>
  <div class="col-xs-12 col-sm-4 lego-block">
    <div class="lego-block__circle"></div>
    <h3 class="lego-block__title"><%= link_to 'SELLERS', sellers_path  %></h3>
    <p class="lego-block__text">Let's help you sell your home.</p>
  </div>
  <div class="col-xs-12 col-sm-4 lego-block">
    <div class="lego-block__circle"></div>
    <h3 class="lego-block__title"><%= link_to 'AGENTS', agents_path  %></h3>
    <p class="lego-block__text">Secret service? We can help with that too.</p>
  </div>
</section>
