<span id='geo_block' class="hidden" data-apicall="<%= (@widget_session_check) ? 'no' : 'yes' %>" data-city="<%= @geolocation['city']%>" data-state="<%= @geolocation['state']%>" data-endpoint="/geo_owners_search"></span>
