<div id="find-hm-office" class="modal-override">
  <div class="modal fade" id="local-office-modal" tabindex="-1" role="dialog" aria-labelledby="local-office-modal-label">
    <div class="modal-dialog modal-lg modal-override__document" role="document">
      <button type="button" class="close modal-override__close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="modal-override__content">
        <%= render :partial => '_shared/forms/find_local_office' %>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<div id="newsletter-subscription" class="modal-override">
  <div class="modal fade" id="newsletter-subscribe-modal" tabindex="-1" role="dialog" aria-labelledby="newsletter-subscribe-modal-label">
    <div class="modal-dialog modal-lg modal-override__document" role="document">
      <button type="button" class="close modal-override__close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="modal-override__content">
        <%= render :partial => '_shared/forms/newsletter' %>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
