<section class="company-header">
  <div class="col-md-6 no-gutters company-header__section">
    <div class="company-header__image" style="background-image: url(https://s3-us-west-2.amazonaws.com/hm-com/static/seIPdnmEnsVQEWwsxaxG7g/ken-cardgame.jpg);">
      <h1 class="visible-xs visible-sm company-header-content__title--mobile">THE EVOLUTION</h1>
    </div>
  </div>
  <div class="col-md-6 company-header__section company-header__section--mobile">
    <div class="company-header-content">
      <h1 class="hidden-xs hidden-sm company-header-content__title">THE EVOLUTION</h1>
      <p class="company-header-content__text">
        The HouseMaster home and building inspection franchise system was founded in 1979. Since then, we have grown to over 370 locally owned and operated offices across North America. Our trusted team of inspectors has collectively performed over 2.5 million inspections for prospective homebuyers.
      </p>
    </div>
  </div>
</section>
