<section class="visible-lg company-timeline">
  <ul class="company-timeline-events">
    <li>
      <div class="company-timeline-events__bullet-image"></div>
      <p class="company-timeline-events__text">
        <strong>1971: Entered Home Inspection Business</strong> <br>We are the oldest and most respected name in home and building inspections throughout North America. In 1971, Ken Austin began an independent home inspection company in New Jersey, thus starting the journey that would eventually bring him to HouseMaster.
      </p>
    </li>
    <li>
      <div class="company-timeline-events__bullet-image"></div>
      <p class="company-timeline-events__text">
        <strong>1976: Co-Founded ASHI</strong> <br>In 1976 Ken Austin became a founding member of the American Society of Home Inspectors (ASHI), the first industry organization to set standards for home inspections.
      </p>
    </li>
    <li>
      <div class="company-timeline-events__bullet-image"></div>
      <p class="company-timeline-events__text">
        <strong>1979: First to Franchise </strong> <br>After developing a successful multi-inspector home inspection business, Ken Austin decided to take his model to the national level. In 1979 he created HouseMaster, the first home inspection franchise operation in the US, which remains the first and oldest home inspection franchise system in North America.
      </p>
    </li>
    <li>
      <div class="company-timeline-events__bullet-image"></div>
      <p class="company-timeline-events__text">
        <strong>1984: 1st On-Site Written Report</strong> <br>With the home inspection industry in its infancy, Ken Austin and team developed formalized training procedures for home inspectors - this included standardized, and clearly categorized on-site written inspection reports, pioneering the professional home inspection business.
      </p>
    </li>
    <li>
      <div class="company-timeline-events__bullet-image"></div>
      <p class="company-timeline-events__text">
        <strong>1986: 1st Agent Indemnification Program</strong> <br>In 1986 HouseMaster established our Agent Indemnification Program, providing a necessary layer of protection for our agents. At HouseMaster we maintain a comprehensive Limited Repair Reimbursement policy, which provides coverage for referral sources in the event they are sued for recommending us.
      </p>
    </li>
    <li>
      <div class="company-timeline-events__bullet-image"></div>
      <p class="company-timeline-events__text">
        <strong>1987: Started NIBI</strong> <br>In 1987 The National Institute of Building Inspectors was created - NIBI would become a premier school for home inspectors, and has been providing home inspection training courses and certifications for the last 26 years.
      </p>
    </li>
    <li>
      <div class="company-timeline-events__bullet-image"></div>
      <p class="company-timeline-events__text">
        <strong>1989: Introduces Pre-Inspections</strong> <br>HouseMaster introduced the idea of pre-inspecting your home before accepting an offer or before putting it on the market in 1989 - we have since helped thousands and thousands of customers prepare for the selling process with a pre-inspection.
      </p>
    </li>
    <li>
      <div class="company-timeline-events__bullet-image"></div>
      <p class="company-timeline-events__text">
        <strong>1994: Introduced Inspection Guarantee</strong> <br>Taking a step forward ahead of the competition, in 1994 HouseMaster introduced their Inspection Guarantee. The protection the guarantee provides to franchisees as well as inspection customers is a great example of HouseMaster's commitment to excellence.
      </p>
    </li>
    <li>
      <div class="company-timeline-events__bullet-image"></div>
      <p class="company-timeline-events__text">
        <strong>1999: Introduced HouseMaster's Hero</strong> <br>In 1999 HouseMaster introduced the official company representative, the "HouseMaster Hero" - this character would be the face of the franchise system for years.
      </p>
    </li>
    <li>
      <div class="company-timeline-events__bullet-image"></div>
      <p class="company-timeline-events__text">
        <strong>2000: 1st Online Training Program</strong> <br>HouseMaster started off the new millennium with a bang. In 2000 they took their training program to the internet and started the 1st online training program for home inspectors.
      </p>
    </li>
    <li>
      <div class="company-timeline-events__bullet-image"></div>
      <p class="company-timeline-events__text">
        <strong>2002: Became Charter Members of AHIA</strong> <br>HouseMaster's current President, Kathleen Austin Kuhn, daughter of the founder Ken Austin, and a 19-year veteran of the company, became a Charter Member of the American Home Inspection Association (AHIA). AHIA, a non-profit corporation made up of the largest national home inspection companies, is dedicated to shaping the legislative issues facing the home inspection industry, as well as the real estate industry in general.
      </p>
    </li>
    <li>
      <div class="company-timeline-events__bullet-image"></div>
      <p class="company-timeline-events__text">
        <strong>2008: Partnered with Sopra Capital</strong> <br>In 2008 HouseMaster began an important partnership with investment firm Sopra Capital, based in Salt Lake City, Utah. The Sopra team brought their resources and expertise and helped HouseMaster continue to build the promising franchise system.
      </p>
    </li>
    <li>
      <div class="company-timeline-events__bullet-image"></div>
      <p class="company-timeline-events__text">
        <strong>2009: 30th Year Anniversary </strong> <br>In 2009 HouseMaster celebrated 30 successful years in the home inspection industry, continuing the vision that Ken started and keeping the culture of family. With the most experienced and professional support staff in the industry the HouseMaster name continues to represent quality and leadership.
      </p>
    </li>
  </ul>
</section>
