<section class="col-xs-12 company-media">
  <h2 class="company-media__title">MEDIA ASSETS</h2>
  <hr class="company-media__breaker">

  <div class="col-xs-12">
    <h3 class="company-media__subtitle">LOGOS</h3>
  </div>
  <div class="company-media-block col-xs-12 col-sm-6">
    <div class="company-media__logo company-media__logo-white">
      <img src="https://s3-us-west-2.amazonaws.com/hm-com/static/o0APUy3pwy8klymx2sj5EA/HM-Logo_Guarantee2014_White.png">
    </div>
  </div>
  <div class="company-media-block col-xs-12 col-sm-6">
    <div class="company-media__logo company-media__logo-normal">
      <img src="https://s3-us-west-2.amazonaws.com/hm-com/static/o0APUy3pwy8klymx2sj5EA/HM-Logo_Guarantee2014.png">
    </div>
  </div>
  <div class="clearfix"></div>
  <br>
  <!-- <div class="company&#45;media&#45;block col&#45;xs&#45;6 col&#45;sm&#45;4"> -->
  <!--   <div style="background&#45;image: url();" class="company&#45;media__asset"></div> -->
  <!-- </div> -->
  <!-- <div class="company&#45;media&#45;block col&#45;xs&#45;6 col&#45;sm&#45;4"> -->
  <!--   <div style="background&#45;image: url();" class="company&#45;media__asset"></div> -->
  <!-- </div> -->
  <!-- <div class="company&#45;media&#45;block col&#45;xs&#45;6 col&#45;sm&#45;4"> -->
  <!--   <div style="background&#45;image: url();" class="company&#45;media__asset"></div> -->
  <!-- </div> -->
  <!-- <div class="clearfix"></div> -->
  <!-- <br> -->

  <button class="company-media__show-all show-hide-button hidden" data-target=".company-media-block.toggle">SHOW ALL</button>
</section>
