<section class="row no-gutters company-side hidden-xs hidden-sm">
  <div class="company-side__breaker"></div>
  <ul class="company-side-nav">
    <li>
      <%= link_to 'PRESS RELEASES', company_path(:anchor => 'press'), :class => 'company-side-nav__link' %>
    </li>
    <li>
      <%= link_to 'IN THE NEWS', company_path(:anchor => 'newsroom'), :class => 'company-side-nav__link' %>
    </li>
    <li>
      <%= link_to 'AWARDS', company_path(:anchor => 'awards'), :class => 'company-side-nav__link' %>
    </li>
    <li>
      <%= link_to 'MEDIA ASSETS', company_path(:anchor => 'media_assets'), :class => 'company-side-nav__link' %>
    </li>
    <!-- <li> -->
    <!--   <%#= link_to 'CONTACT', company_path(:anchor => 'contact_us'), :class => 'company&#45;side&#45;nav__link' %> -->
    <!-- </li> -->
  </ul>
</section>
