<div class="company-sections">
  <span id="press" class="anchor-id"></span>
  <div class="row no-gutters">
    <div class="col-sm-offset-1 col-sm-10">
      <%= render :partial => 'press' %>
    </div>
  </div>

  <span id="newsroom" class="anchor-id"></span>
  <div class="row no-gutters">
    <div class="col-sm-offset-1 col-sm-10">
      <%= render :partial => 'newsroom' %>
    </div>
  </div>

  <span id="awards" class="anchor-id"></span>
  <div class="row no-gutters">
    <div class="col-sm-offset-1 col-sm-10">
      <%= render :partial => 'awards' %>
    </div>
  </div>

  <span id="media_assets" class="anchor-id"></span>
  <div class="row no-gutters">
    <div class="col-sm-offset-1 col-sm-10">
      <%= render :partial => 'media_assets' %>
    </div>
  </div>
</div>
