<div class="row no-gutters">
  <div class="col-xs-12 no-gutters">
    <%= render :partial => '_shared/articles/header_slider' %>
  </div>
</div>

<div class="row no-gutters">
  <div class="col-xs-12 no-gutters">
    <%= render :partial => '_shared/articles/search' %>
  </div>
</div>

<div class="row no-gutters">
  <div class="col-xs-12 no-gutters">
    <%= render :partial => '_shared/articles/all_3_col' %>
  </div>
</div>
