<div class="row no-gutters">
  <div class="col-xs-12 no-gutters">
    <%= render :partial => '_shared/articles/header_article' %>
  </div>
</div>
<div class="row no-gutters">
  <div class="col-xs-12 no-gutters">
    <%= render :partial => '_shared/articles/article_author' %>
  </div>
</div>
<div class="row no-gutters">
  <div class="col-xs-12 no-gutters">
    <%= render :partial => '_shared/articles/article_body' %>
  </div>
</div>
